body {
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #f4f4f4;
    margin: 0;
}

.services-container {
    display: flex;
    flex-wrap: wrap; /* Permite que os elementos ocupem várias linhas */
    justify-content: center;
    width: 80%;
}

.service-box {
    text-align: center;
    width: 200px;
    padding: 20px;
    margin: 10px; /* Adiciona espaço entre as caixas */
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s;
}

.service-box:hover {
    transform: translateY(-10px);
}

.service-box img {
    width: 80px;
    height: auto;
}

.service-box h3 {
    margin-top: 15px;
    font-size: 18px;
    color: #333;
}

.service-box .line {
    height: 3px;
    width: 50%;
    margin: 10px auto;
    background-color: #333;
}

/* Linhas coloridas para cada serviço */
.zabbix .line { background-color: red; }
.glpi .line { background-color: blue; }
.grafana .line { background-color: orange; }
.docker .line { background-color: cyan; }
.prometheus .line { background-color: purple; }
.kubernetes .line { background-color: green; }
.cpp .line { background-color: blue; }